<ion-view title="Time Picker">
  <ion-content>
    <div class="padding">
      <h4 class="text-center">A Time picker plugin for Ionic Framework</h4>

      <div class="padding-vertical">
        <h5 class="text-center">12-Hour Format - 15 Mins Steps</h5>
        <ionic-timepicker input-obj="timePickerObject12Hour">
          <button class="button button-block button-positive overflowShow">
            <standard-time-meridian etime='timePickerObject12Hour.inputEpochTime'></standard-time-meridian>
          </button>
        </ionic-timepicker>
      </div>

      <div class="padding-vertical">
        <h5 class="text-center">24-Hour Format - 10 Mins Steps</h5>
        <ionic-timepicker input-obj="timePickerObject24Hour">
          <button class="button button-block button-positive overflowShow">
            <standard-time-no-meridian etime='timePickerObject24Hour.inputEpochTime'></standard-time-no-meridian>
          </button>
        </ionic-timepicker>
      </div>
    </div>
  </ion-content>
</ion-view>
