<ion-view view-title="Contact" class="contact">
    <ion-content>
        <ion-list>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-email"></i>
                rajeshwar.patlolla@gmail.com
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-social-github"></i>
                https://github.com/rajeshwarpatlolla
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-ionic"></i>
                http://forum.ionicframework.com/users/rajeshwarpatlolla
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-social-facebook"></i>
                https://www.facebook.com/rajeshwarpatlolla
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-social-twitter"></i>
                https://twitter.com/rajeshwar_9032
            </a>
        </ion-list>
    </ion-content>
</ion-view>
