<ion-view title="Reference">
    <ion-content class="padding">
        <h3>Reference</h3>

        <div class="list">
            <div class="item">
                <span class=""><a href="http://www.ionicframework.com" target="_blank">http://www.ionicframework.com</a></span>
            </div>

            <div class="item">
                <span class=""><a href="http://www.ionicons.com" target="_blank">http://www.ionicons.com</a></span>
            </div>

            <div class="item">
                <span class=""><a href="http://www.angularjs.org" target="_blank">http://www.angularjs.org</a></span>
            </div>
            <div class="item">
                <span class=""><a href="http://www.epochconverter.com/"
                                  target="_blank">http://www.epochconverter.com/</a></span>
            </div>
        </div>
    </ion-content>
</ion-view>
