<ion-view title="Reference">
    <ion-content class="padding">
        <h3>Reference</h3>

        <div class="row">
            <span class="col-25">Ionic Framework</span>
            <span class="col-75"><a href="http://www.ionicframework.com" target="_blank">ionicframework.com</a></span>
        </div>

        <div class="row">
            <span class="col-25">Ionicons</span>
            <span class="col-75"><a href="http://www.ionicons.com" target="_blank">ionicons.com</a></span>
        </div>

        <div class="row">
            <span class="col-25">Angular JS</span>
            <span class="col-75"><a href="http://www.angularjs.org" target="_blank">angularjs.org</a></span>
        </div>

    </ion-content>
</ion-view>
