/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.
For example, you might change some of the default colors:
*/

$light: #fff !default;
$stable: #f8f8f8 !default;
//$positive: #387ef5 !default;
$positive: #009688 !default;
$calm: #11c1f3 !default;
$balanced: #33cd5f !default;
$energized: #ffc900 !default;
$assertive: #ef473a !default;
$royal: #886aea !default;
$dark: #444 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/release/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

//=============================================================================================

/* Empty. Add your own CSS if you like */

ion-content {
  background-color: #efefef;
}

.popup-body {
  overflow: visible;
}

.contact a {
  font-size: 14px;
  white-space: normal;
}

.margin_zero {
  margin: 0;
}

.padding_zero {
  padding: 0;
}

.font_28px {
  font-size: 28px;
}

.ionic_timepicker_popup {
  .popup {
    background-color: #ffffff;
  }
  .popup-head {
    display: none;
  }
  .popup-body {
    padding: 0;
  }
  .popup-buttons {
    padding: 0;
    min-height: 44px;
    height: 44px;
    .button:not(:last-child) {
      margin-right: 1px;
    }
  }
  .padding_left_15px {
    padding-left: 15px;
  }
  .heading {
    height: 44px;
    background-color: $positive;
    color: #ffffff;
    text-align: center;
    line-height: 44px;
    font-size: 18px;
    font-weight: bold;
  }
  .time_picker_colon {
    padding-top: 45px;
    text-align: center;
    font-weight: bold;
  }

  .time_picker_arrows {
    width: 100%;
  }

  .time_picker_box_text {
    height: 40px;
    text-align: center;
    border: 1px solid #dddddd;
    font-size: 16px;
    line-height: 38px;
  }

  .overflowShow {
    white-space: normal !important;
  }
  .button_set, .button_close {
    background-color: $positive;
    color: #ffffff;
  }
}