<ion-view title="Time Picker">
  <ion-content>
    <div class="padding card">
      <h4 class="text-center">A Time picker plugin for Ionic Framework</h4>

      <div class="padding-vertical">
        <h5 class="text-center">12-Hour Format - 15 Mins Steps</h5>
        <button class="button button-block button-positive overflowShow" ng-click="openTimePicker1()">
          Open 12 hour timepicker
        </button>
      </div>

      <div class="padding-vertical">
        <h5 class="text-center">24-Hour Format - 10 Mins Steps</h5>
        <button class="button button-block button-positive overflowShow" ng-click="openTimePicker2()">
          Open 24 hour timepicker
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
